<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="about">
    <div class="container">
        <h2>About</h2>
        <div class="content">
            <p>
                <img src="/static/images/valerie.jpg" width="300px"/>
                Valerie Aubry graduated summa cum laude from Amherst College and is a New York State certified teacher with nearly a decade of experience teaching students in grades seven through twelve. She has a Master’s degree in Social Studies Education from Teachers College, Columbia University and additional graduate credits in teen literacy and teaching students with special needs. As a tutor, Valerie loves helping students grow as confident critical thinkers and writers who do their best in the ACT/SAT (Verbal), History Regents and AP exams, and course and college application essays.                  <br>
                <br>
                As a debate coach, Valerie led her students to win the top championship awards in a county-wide moot court competition in Westchester, New York. Before teaching, she worked as the Law and Social Science Editor at Oxford University Press, New York and a Developmental Editor of social science textbooks at D.C. Heath in Massachusetts. 
            </p>
        </div>
    </div>
</div>
{% endblock %}