{% extends "base.html" %}
{% block content %}
<div class="services">
    <div class="container">
        <h2>Services</h2>
        <ul>
            <li>
                <div class="content">
                    <h2>SAT and ACT Preparation</h2>
                    <p><img src="/static/images/studying.jpg"/>
                        We’ll discuss your goals and whether the ACT or SAT would be a better fit. Each week, you’ll learn 
                        curriculum reflecting your needs to answer real test questions in class and homework. You’ll take 
                        actual, timed tests to track your progress and build experience. As you apply valuable concepts and 
                        test-taking tips, you’ll gain higher scores and life-long learning skills to get you into a college 
                        you want and beyond. The number of sessions is flexible with many students preparing for weekly 
                        sessions in one or more cycles of 8 weeks. 
                    </p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>Subject-Matter Tests</h2>
                    <p><img src="/static/images/students3.jpg"/>
                        We use a similar approach based on my experience in preparing students for subject-matter tests in ELA, 
                        History and related Social Studies subjects. As a certified teacher, I’ve taught History Regents classes 
                        and am certified to teach AP US History. No matter where you start, I can help you understand key questions, 
                        concepts, and processes to do your best in subject matter tests.</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>Essays and Other Writing Assignments</h2>
                    <p><img src="/static/images/students2.jpg"/>
                        As an editor, parent, and teacher of middle and high school students, I enjoy helping writers develop 
                        their thoughts and voice, including in compelling application essays. In nurturing brainstorming, planning, 
                        drafting, and revising exercises, you’ll develop your creative powers of narration and persuasion.</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>Homework and Subject Tutoring</h2>
                    <p><img src="/static/images/valerie_student_1.jpg"/>
                        Drawing on over twenty years as an award-winning editor, teacher, and tutor, I’ll help you make the most of 
                        your school and professional assignments. I have in-depth content knowledge and experience mentoring beginners 
                        to acclaimed scholars. I have also worked closely with students with special needs and English language 
                        learners. Powerful reading and writing strategies will deepen your understanding and pleasure in learning. 
                        You’ll hone your research, reflection, and writing skills in the following areas among others: Language Arts, 
                        US and World History, Geography, Participation in Government, Economics, Psychology, Criminal Justice, Research 
                        and Citation, and Study Skills.</p>
                </div>
            </li>
        </ul>
        
    </div>
</div>
{% endblock %}